
/* Main Table structure */
.state-change-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 40px 10px;
  }
  .state-change-container .state-h6-head{
    color: grey;
  }
  .state-change-container .state-updown{
    color: #349692;
    text-align: center;
    font-weight: 500;
  }
  .state-changeFrst{
    text-align: start;
  }
  .state-changeSec{
    text-align: center;
  }
  .state-changeThrd{
    text-align: end;
  }
  .state-changeThrd .state-h6-2nd,
  .state-changeSec .state-h6-2nd {
    color: white;
    font-weight: 500;
  }

  /* -- */
  /* For the buttonStyle */
.buy-btn {
    padding: 15px 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #4791e1, #27cae1);
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    margin-right: 10px;
    width: 100%;
  }
  
  /* For the sellStyle */
  .sell-btn {
    padding: 15px 15px;
    border-radius: 10px;
    background: #1c2534;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    margin-right: 10px;
    width: 100%;
  }.button-style {
    display: flex;
    justify-content: center;
  }
  
  .range-head {
    text-align: center;
    color: gray;
  }
  
  .sell-buy-main {
    display: flex;
    justify-content: space-around;
  }
  
  .range-style {
    width: 75%;
  }
  
  .range-main-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .sell-percentage-grey {
    color: #296697;
  }
  
  .buy-percentage-blue {
    color: #33cfc3;
  }
  
  .range-style::-webkit-slider-thumb {
    background-color: var(--range-color);
  }
  
  .range-style::-moz-range-thumb {
    background-color: var(--range-color);
  }
  
  .range-style::-ms-thumb {
    background-color: var(--range-color);
  }

  .modal-dialog {
    max-width: 400px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmation-modal {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-confirm-btn {
  margin-right: 10px;
  background-color: #2fd3c9;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-cancel-btn {
  background-color: #d0d0d0;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 4px;
  cursor: pointer;
}
