.h1-wdraw {
    text-align: center;
    color: #29c6e1;
    text-transform: upperCase;
  }
  .Main-wdraw {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65vh;
  }
  
  .button-style {
    display: flex;
    justify-content: center;
  }
  .Depositbtn {
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #4791e1, #27cae1);
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
  }
  .Depositbtn[disabled] {
    opacity: 0.6; /* Reduced opacity when disabled */
    cursor: not-allowed; /* Change cursor when disabled */
  }
  .main-fm-wdraw {
    display: flex;
    justify-content: center;
  }
  .fm-style-wdraw {
    width: 90%;
    padding: 5vh 0;
  }
  
  .wdraw-input-style {
    background: transparent;
    border: none;
    color: white;
    outline: none;
  }
  .wdraw-input-style:focus {
    border: none;
    background-color: transparent;
    color: white;
    outline: none !important;
  }
  input[type="number"] {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: white;
    transition: border-bottom 0.3s ease;
    width: 100%;
    font-size: 40px;
    text-align: center;
  }
  .range-value {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
  }
  .wdraw-range {
    display: flex;
    justify-content: space-between;
  }
  .wdraw-range h6 {
    color: #29c6e1 !important;
  }
  