.Main-update-del {
  display: flex;
  justify-content: center;
}
.edit-style {
  position: absolute;
  right: 0em;
  left: 45px;
  top: 4.1em;
}
.Update-btn {
  background: transparent;
  border: 2px solid #3498db;
  color: white;
  padding: 3px 4px;
  border-radius: 5px;
}
.del-btn {
  background: transparent;
  /* border: 1px solid red; */
  border: 2px solid #3498db;
  color: white;
  padding: 3px 4px;
  border-radius: 5px;
}
.edit-btn{
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  line-height: 1;
  padding: 0 0.5rem;
  text-align: center;
  border: 2px solid #3498db;
}
.edit-btn:hover {
  align-items: center;
  border-radius: 5px;
  color: white;
  line-height: 1;
  padding: 0 0.5rem;
  text-align: center;
  border: 2px solid #3498db;
  background: linear-gradient(to right, #4791e1, #27cae1);
}
.FiEdit-inner-style {
  color: #fff;
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  background: #007aff;
  padding: 2px;
}
.card {
  border-radius: 5px;
  border: none;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 0.5rem;
}

.img-radius {
  max-width: 100px;
  max-height: 100px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 0.5rem;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
  color: #0d6efd;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.user-info-style {
  display: flex;
  justify-content: space-between;
}
.sec-container {
  color: white;
}
.main-container-pf {
  /* background: linear-gradient(
    to right top,
    #051937,
    #002844,
    #00364f,
    #004558,
    #02545e
  ); */
  /* background: linear-gradient(7deg, rgba(14,48,46,1) 0%, rgba(0,10,39,1) 100%); */
  background: linear-gradient(7deg, rgba(9,29,28,1) 0%, rgba(0,9,34,1) 100%);
}
.input_field {
  all: inherit;
  border: 2px solid #afafaf2f;
  padding: 10px 14px;
  border-radius: 8px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.068);
}

.input_field:focus {
  border-color: #21c8d7;
}
