.Main-update-del {
  display: flex;
  justify-content: center;
}
.edit-style {
  position: absolute;
  right: 0em;
  left: 50px;
  top: 5.7em;
}
.Update-btn {
  color: white;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #4791e1, #27cae1);
  border: none;
  font-size: 4vw;
}
.del-btn {
  color: white;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #4791e1, #27cae1);
  border: none;
  font-size: 4vw;
}
.edit-btn{
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #4791e1, #27cae1);
  border: none;
  font-size: 4vw;
}
.FiEdit-inner-style {
  color: #fff;
  width: 2.2vh;
  height: 2.5vh;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  background: #007aff;
  padding: 3px;
}
.card {
  border-radius: 5px;
  border: none;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 0.5rem;
}

.img-radius {
  max-width: 100px;
  max-height: 100px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 0.5rem;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
  color: #0d6efd;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-20 {
  margin-top: 20px;
}
.m-t-10{
  margin-top: 10px;
}
.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.user-info-style {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.sec-container {
  color: white;
}
.main-container-pf {
  background: #0b121d;
}
.input_field {
  width: 100%;
  border: 2px solid #afafaf2f;
  padding: 10px 14px;
  border-radius: 8px;
  transition: .5s;
  background-color: rgba(255, 255, 255, 0.068);
  color: white;
}

.input_field:focus {
  border-color: #21c8d7;
}
.color-white{
  padding-top: 5px;
  color: white;
}
.pass-color{
  color: #27cae1;
}
.eye-style-absolute{
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 4.5%;
  right: 0;
  padding-right: 1px;
  color: #27cae1;
}
.input-field:focus + .eye-style-absolute button {
  color: black;
}
.row>*{
  padding-left: 0;
}
.custom-modal-content .modal-content{
  background: transparent;
}
.up-btn-style{
  display: flex;
  justify-content: center;
  padding-right: 0 !important;
  margin-bottom: 15px;
}
.container{
  padding-right: 0;
}
.pass-main-mb{
    margin-bottom: 13vh;
}
@media screen and (max-height: 760px) and (min-width: 500px) and (max-width: 550px) {
  .pass-main-mb{
    margin-bottom: 17vh;
  }
}
@media screen and (max-height: 850px) and (min-width: 1100px) and (max-width: 1250px) {
  .pass-main-mb{
    margin-bottom: 20vh;
  }
}
.user-card-full,
.card {
  --bs-card-bg: none;
}

.copy-style{
  position: absolute;
  right: 10px;
  background: #212a36;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #363c44;
}