.withDraw-btn {
  border-radius: 20px;
  color: #fff;
  flex: 1;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 3vw;
  cursor: pointer;
  background: linear-gradient(to right, #4791e1, #27cae1);
}
.unselected {
  border-radius: 20px;
  color: #fff;
  flex: 1;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 3vw;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
