.balance {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.left > h5 {
  color: #343a44;
  font-size: 4vw;
}

.left > div > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left > div > div > select {
  padding: 0.25rem 0.5rem;
  background-color: #2f3544;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 3vw;
}

.left > div > div > h2 {
  font-size: 8vw;
  font-weight: 500;
}

.left > div > div > h2 > span {
  font-size: 5vw;
}

.left > div > div:nth-child(2) {
  margin-top: 0.2rem;
  color: #21c8d7;
}

.right {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-items: end;
  flex-direction: column;
  font-size: 7vw;
  color: #343a44;
  cursor: pointer;
}
.right > div > h5 {
  color: #343a44 !important;
  font-size: 4vw;
}
.right > div > span {
  color: #21c8d7 !important;
  font-size: 7vw;
}
